@model APS_LostProperty.Models.Location

@{
    ViewData["Title"] = "Edit";
}

<div class="card shadow-sm fs-3 p-4 mx-auto container pt-4"
     style="max-width: 600px; width: 100%;">
    <div>

        <div class="card-body mt-5">

            <h1 class="text-center mb-3 fs-2">Edit Location</h1>

            <hr />

            <form asp-action="Edit">

                <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                <input type="hidden" asp-for="LocationID" />

                <div class="mb-3">
                    <label asp-for="LocationName" class="form-label"></label>
                    <input asp-for="LocationName" class="form-control form-control-md" />
                    <span asp-validation-for="LocationName" class="text-danger"></span>
                </div>

                <div class="d-flex justify-content-between">
                    <a asp-action="Index" class="btn btn-secondary">
                        Back to List
                    </a>

                    <input type="submit" value="Save Changes" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}