@using System.Linq
@model IEnumerable<APS_LostProperty.Models.LostItem>

@{
    ViewData["Title"] = "Home Page";
}

<body class="bg-secondary bg-opacity-10">

<!-- HEADER CARD -->
<div class="card bg-white border border-secondary border-opacity-25 shadow-sm mb-3 rounded-3">

    <div class="card-body">

        <h1 class="text-primary">Lost Property Management System</h1>

      

    </div>

</div>


<div class="row g-4">

    <!-- LEFT: CAROUSEL -->
    <div class="col-md-12 p-0">

        <div class="card bg-white border border-dark border-2 border-opacity-25 shadow-lg rounded-3">

          
            <div class="card-body p-2 w-100" style="height:40rem">
                

                <div id="demo"
                     class="carousel slide border border-secondary border-opacity-25 rounded overflow-hidden shadow-sm"
                     data-bs-ride="carousel"
                     style="height:100%;">

                    <!-- indicators -->
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
                        <button type="button" data-bs-target="#demo" data-bs-slide-to="1" class="rounded"></button>
                        <button type="button" data-bs-target="#demo" data-bs-slide-to="2" class="rounded"></button>
                    </div>

                    <!-- images -->
                    <div class="carousel-inner" style="height:100%;">

                        <div class="carousel-item active" style="height:100%;">
                            <img src="~/Img/Avondale_College_D_Block.jpg"
                                 class="d-block w-100"
                                 style="height:100%; object-fit:cover;"
                                 alt="Avondale College">
                        </div>

                        <div class="carousel-item" style="height:100 %;">
                            <img src="~/Img/Lost property.jpg"
                                 class="d-block w-100"
                                 style="height:100%; object-fit:cover;"
                                 alt="Lost property">
                        </div>

                        <div class="carousel-item" style="height:100%;">
                            <img src="~/Img/sports.jpg"
                                 class="d-block w-100"
                                 style="height:100%; object-fit:cover;"
                                 alt="Sports">
                        </div>

                    </div>

                    <!-- controls -->
                    <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon bg-primary rounded-circle p-3"></span>
                    </button>

                    <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
                        <span class="carousel-control-next-icon bg-primary rounded-circle p-3"></span>
                    </button>

                </div>

            </div>
                

        </div>

    </div>
      <div class="container py-5">
            <div class="row justify-content-center g-4">        
         

        <!-- NAVIGATION CARD -->
        
            <div class="row justify-content-center g-4">
                <div class="col-md-3 col-sm-6 d-flex">
                   <div class="card border-secondary shadow-md rounded-3 text-center h-100 w-100 ">
                       <div></div>

                      <div class="card-body py-5 d-flex flex-column justify-content-center align-items-center">

                       <div class="fs-1 fw-bold text-primary">
                           @(ViewBag.TotalItems ?? 0)
                       </div>

                           <h5 class="card-title mt-2">Total Items</h5>

                              <a asp-controller="LostItems" asp-action="Index"
                                class="btn btn-primary w-75 mt-auto">
                                      View Lost Items
                              </a>
                      </div>
                    </div>
                </div>
                
                <div class="col-md-3 col-sm-6 d-flex">
                    <div class="card border border-secondary shadow-md rounded-3 text-center h-200 w-100">

                       <div class="card-body py-5 d-flex flex-column justify-content-center align-items-center">

                           <div class="fs-1 fw-bold text-primary">
                                @(ViewBag.TotalClaims ?? 0)
                           </div>
                           <h5 class="card-title mt-2"> Total Claims Made</h5>
                            <a asp-controller="Claims" asp-action="Index"
                               class="btn btn-primary w-75 mt-auto">
                                View Claims
                            </a>
                       </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 d-flex">
                    <div class="card border border-secondary shadow-md rounded-3 text-center h-100 w-100">
                        <div class="card-body py-5 d-flex flex-column justify-content-center align-items-center">
                            <div class="fs-1 fw-bold text-primary">
                                @(ViewBag.ClaimedClaims ?? 0)
                            </div>
                            <h5 class="card-title mt-2"> Total Claims Claimed</h5>
                            <a asp-controller="LostItems" asp-action="Index"
                               class="btn btn-primary w-75 mt-auto">
                                View Claims Claimed 
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            </div>
       </div>
             
       

        <!-- HOW IT WORKS CARD -->
        <div class="card bg-white border border-secondary border-opacity-25 shadow-sm rounded-3 mt-3">

            <div class="card-body w-100 h-70">

                <h4 class=" fs-2 text-primary">How It Works</h4>

                <p class="fs-4 text-dark text-opacity-75">
                    Welcome to the Lost Property System. This web application helps students quickly report and recover lost items.
                    To get started, you must register an account, which will give you access to the claims page and other system features.
                </p>

                <p class="fs-4 text-dark text-opacity-75">
                    If you are a student who has lost an item, you can submit a claim through the system.
                    Staff members will review your request, attempt to match it with found items,
                    and contact you via email if a match is found.
                    You can also browse and search through reported lost items at any time.
                </p>

                <p class="fs-4 text-dark text-opacity-75">
                    All records are stored digitally, making the process faster, more organised, 
                    and reducing the chance of anything being missed or forgotten.
                </p>
            </div>

        </div>

    </div>


</div>

</body>