@{
    ViewData["Lost Property"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Lost Property Avondale College</h1>
    <p>You can use this web application to make claims on items you may have lost around school. this web application will store the claim you make then a member of staff will review it and then can contact you in order for you claim your claim</p>
    

</div>

