@{
    ViewData["Title"] = "Home Page";
}

<h1>Lost Property Management System</h1>

<p>
    welcome to the lost property webapp, This system helps students and staff report, track, and manage lost and found items.
</p>

<hr />

<h2>Navigation</h2>

<ul>
    <li>
        <a asp-controller="LostItems" asp-action="Index" class="btn btn-primary">View Lost Items</a>
    </li>
    <li>
        <a asp-controller="Claims" asp-action="Index" class="btn btn-primary">View Claims</a>
    </li>
    <li>
        <a asp-controller="Admin" asp-action="Index" class="btn btn-primary">Admin Panel</a>
    </li>
</ul>

<h2>How It Works</h2>


    <p>Items are logged when found.
    Users can search for their items.
    Claims are submitted for lost items.
    Staff review and return matched items.</p>
