@model APS_LostProperty.Models.Category

@{
    ViewData["Title"] = "Details";
}

<div class="card shadow-sm fs-2 p-4 mx-auto container pt-5 d-flex justify-content-center align-items-center" style="max-width: 80vh;">
    <div style="height: 80vh; width: 100%;">

        <div class="card-body mt-5">

            <h2 class="text-center mb-3 fs-1">Category Details</h2>
            <hr />
             
            <div class="mb-4 d-flex mx-auto  ">
                <div class="fw-bold me-2 mb-0 ">
                    @Html.DisplayNameFor(model => model.Name):
                </div>

                <div class=" offset-sm-1">
                    @Html.DisplayFor(model => model.Name)
                </div>
            </div>

            <div class="d-flex ">
                <a asp-action="Index" class="btn btn-secondary">
                    Back to List 
                </a>|

                <a asp-action="Edit"
                   asp-route-id="@Model?.CategoryID"
                   class="btn btn-primary offset-sm-1">
                    Edit
                </a>
            </div>

        </div>

    </div>
</div>