@model APS_LostProperty.Models.Category

@{
    ViewData["Title"] = "Details";
}

<div class="card shadow-sm fs-3 p-4 mx-auto container pt-4"
     style="max-width: 900px; width: 100%;">
    <div>

        <div class="card-body">

            <h1 class="text-center mb-3 fw-bold" style="font-size: 2.2rem;">
                Category Details
            </h1>

            <hr />

            <dl class="row mb-4">

                <dt class="col-sm-4 fw-semibold fs-4">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-8 fs-5">
                    @Html.DisplayFor(model => model.Name)
                </dd>

            </dl>

            <div class="d-flex gap-2">
                <a asp-action="Index" class="btn btn-secondary">
                    Back to List
                </a>

                <a asp-action="Edit"
                   asp-route-id="@Model?.CategoryID"
                   class="btn btn-primary">
                    Edit
                </a>
            </div>

        </div>

    </div>
</div>